mixin articleImage(imgSrc, imgAlt, title1, title2, authorName, authorImg)
    .article-card-image-news
        .image-placeholder-news
            img(src=imgSrc, alt=imgAlt)
        .article-content-news
            h3= title1
            h3= title2
            .author-news-image
                i.fa.fa-user
                img.user-icon(src=authorImg, alt="User Icon")
                span= authorName
