mixin articleGambar(imgSrc, imgAlt, heading, subheading, bodyText1, bodyText2)
    .article-section-portfolio
        img.gambar-article-portfolio(src=imgSrc, alt=imgAlt)
        .teks-konten
            h1= heading
            h2= subheading
            p= bodyText1
            p= bodyText2
