mixin articleGambar2(image, alt, title, subtitle, description, moreText)
    .article-section-portfolio2
        img.gambar-article-portfolio2(src=image, alt=alt)
        .article-text
            h1= title
            h2= subtitle
            p= description
            p= moreText
