mixin eventCard(data)
  .event-card(onclick=`window.location.href = 'eventclick.html'`)
    .event-card__image
      img(src=data.image alt="Event Image")
    .event-card__details
      .event-card__date
        span.date= data.date
        span.month= data.month
      .event-card__info
        h3.title= data.title
        .event-card__time-location
          .time
            i.fas.fa-clock
            | #{data.time}
          .location
            i.fas.fa-map-marker-alt
            | #{data.location}
