mixin eventCard(date, month, title, time, location)
  .event-card(onclick=`window.location.href = '${link}'`)
    .event-card__image
      img(src="web_templating/image/event1.png" alt="Event Image")
    .event-card__details
      .event-card__date
        span.date= date
        span.month= month
      .event-card__info
        h3.title= title
        .event-card__time-location
          .time
            i.fas.fa-clock
            | #{time}
          .location
            i.fas.fa-map-marker-alt
            | #{location}


