mixin cause-image(imagePath, title, progress, goal, description)
    .card-section-cause
        .card-image-cause
            img(src=imagePath, alt=title)
        .card-content-cause
            h2= title
            .progress-bar-cause
                .progress-cause(style=`width: ${progress}%`) #{progress}%
            span Goal: #{goal}
            p= description
            +button('Donate Now')